@keyframes burgerBotJump {
  50% {
    transform: translate3d(0, 320%, 0);
  }
}

@keyframes burgerTopJump {
  50% {
    transform: translate3d(0, -320%, 0);
  }
}

@keyframes burgerSpanJump {
  100% {
    top: 50%;
    transform: translate3d(0%, -50%, 0) rotate(180deg);
  }
}